p {
    font-size: large;
    margin: 0;
}
.article {
    border: 5px solid darkgrey;
    display: flex;
    align-items: center;
    width: min(80%, 56rem);
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 500px) {
    .article {
       flex-direction: column;
    }
}

.article div {
    flex-grow: 1;
}

.article h2 {
    margin: 0;
}

.article .formatted-views {display: none}
.article .views { display: none;}

.article .btn {
    display: none;
}

.article:nth-of-type(2) .btn{
    display: block;
}

.article:nth-of-type(1) .formatted-views {
    display: block;
}

.back-btn {
    display: none;
}

body.game-over .article .btn{
    display: none;
}

body.game-over .back-btn {
    display: block;
}
body.game-over #result {
    color: lightcoral
}