body {
    font-family: sans-serif;
    color: rgb(62, 62, 62);
    background: #eee;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 1rem;
}

h1 {
    margin-bottom: 0;
}

.btn {
    width: 8rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 5px solid rgb(100, 100, 200);
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
}

.btn:hover {
    border-color: rgb(150, 150, 250);
}